body {
  margin: 0px;
  color: #FAFEFD;
  background-color: #21B5B6;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}

.wrapper {
  margin: 5%;
  margin-top: 0px;
  padding: 1% 17%;
  background-color: #001427;
}

h1 {
  margin: 0px;
  font-size: 2.3em;
}

h2 {
  margin-top: 4%;
  margin-bottom: 10%;
  font-size: 1.7em;
}

p {
  margin: 10%;
}
